.container-main {
  width: 100%;
  padding: 40px 80px;;
}

.container {
  display: flex;
  min-height: 100vh;
  // margin-left: 200px;
}
.side-container {
  margin: 0px 40px 40px 240px;
  // width: 100%;
}

.edit-container {
  margin: 0px 40px 40px 240px;
}


@media(max-width: 1200px) {
  .container-main {
    width: 100%;
    padding: 40px;
  }
}
@media(max-width: 560px) {
  .container-main {
    width: 100%;
    padding: 20px;
  }
}
