
// // General style
// $font-family-sans-serif:  $body-font;
// $headings-font-family:    $headers-font;
// $body-bg:                 $light-gray;
// $font-size-base: 18px;
//
// // Colors
// $gray-base:       $gray;
// $brand-primary:   $blue;
// $brand-success:   $green;
// $brand-info:      $yellow;
// $brand-danger:    $red;
// $brand-warning:   $orange;
//
// // Buttons & inputs' radius
// $border-radius-base:  2px;
// $border-radius-large: 2px;
// $border-radius-small: 2px;

$brand-dark: #333; //brand-grey
$brand-primary: #FF5E3A; //brand-orange
$brand-secondary: #22829d; //brand blue
$brand-light: #FFF; //white
$brand-medium-dark: #BFB5B7;


$font-xxs: 14px;
$font-xs: 16px;
$font-sm: 18px;
$font-md: 20px;
$font-lg: 24px;
$font-xl: 32px;
$font-xxl: 44px;
