.review {
  &-novel {
    width: 100%;
    padding: 8px 12px 100px;
    font-size: $font-xs;
    border-radius: 4px;
    border: 0.5px solid #e5e5e5;
    outline: none;
    color: $brand-dark;
    margin-bottom: 10px;
    font-family: $secondary-font !important;
  }
  &-container-main {
    margin-right: 225px;
  }
  &-container-right {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    min-height: 400px;
    height: 100vh;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-top: 60px;
  }
  &-button-add {
    margin: 11px 0
  }
  &-comment {
    padding: 8px;
    display: flex;
    flex-direction: column;
    font-family: $secondary-font !important;
    margin: 10px 0;
    color: $brand-dark;
    &_title {
      padding: 0 16px 0 0;
      white-space: wrap;
      text-overflow: ellipsis;
      width: 80%;
      font-weight: bold;
      color: $brand-secondary;
      text-align: right;
    }
  }
  &-comment .fas {
    margin: 0 5px;
    color: $brand-primary
  }
}
