.main-dashboard {
  &-container {
    height: 300px;
    padding: 40px 0 60px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  &-header {
    // text-align: center;
    // padding: 10px;
    margin: 20px 0 40px 0;

  }
  &-novels-container {
    width: 50%;
    display: flex;
    flex-direction: column;

  }
  &-novels-head {
    padding-bottom: 20px;
  }
  &-todays-goal {
    font-weight: bold;
  }
  &-novel {
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    margin: 10px 0;
    &-heading {
      // background: linear-gradient($brand-primary 50%, lighten($brand-primary, 20));
      display: flex;
      justify-content: space-between;
      padding: 10px 4px;
      border-bottom: 1px solid $brand-medium-dark;

      // border-top-right-radius: 20px;
      // border-top-left-radius: 20px;
      // text-transform: uppercase;
      color: $brand-secondary;
      // box-shadow: 0 0
      & p, span {
        // font-weight: 300 !important;
        // font-family: $secondary-font !important;
      }
    }
    &-title {
      padding: 0 16px 0 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      text-transform: uppercase;
      font-weight: bold;
    }






    &-content {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      color: $brand-dark;
    }
    &-bar {
      height: 5px;
      background-color: $brand-dark;
      border-radius: 5px;
    }
    &-progress {
      height: 5px;
      background-color: $brand-primary;
      border-radius: 5px;
    }
    &-metrics {
      display: flex;
      justify-content: space-between;
      color: $brand-dark;
      padding: 18px 0 16px;
      font-weight: 300;
      font-size: $font-xxs;
    }
  }
}



  // &-bubble {
  //   border-radius: 50%;
  //   background-color: lighten($brand-medium-dark, 20%);
  //   margin: 10px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   overflow: hidden;
  // }
  // &-bubble-content {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  // }
  // &-stats-total-words {
  //   height: 200px;
  //   width: 200px;
  // }
  // &-stats-todays-goal {
  //   height: 240px;
  //   width: 240px;
  // }
  // &-bubble-count-sm {
  //   font-family: $secondary-font;
  //   font-size: $font-lg;
  //   color: $brand-secondary;
  //   text-align: center;
  //   padding: 0 16px 10px;
  // }
  //
  // &-bubble-count-lg {
  //   font-family: $secondary-font;
  //   font-size: $font-xl;
  //   color: $brand-secondary;
  //   padding-bottom: 6px;
  //   text-align: center;
  //   padding: 8px 16px 12px;
  // }
  //
  // &-container {
  //   display: flex;
  //   flex-direction: column;
  //   width: 80%;
  //   margin: auto;
  //   padding-top: 40px;
  // }
  //

  //
  // &-goals-container {
  //   width: 80%;
  //   margin: 10px auto;
  //   height: 200px;
  //   padding-top: 100px;
  //   overflow: hidden;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-end;
  //   position: relative;
  // }
  //
  // &-goal-case {
  //   background-color: $brand-medium-dark;
  //   width: calc(100% / 30);
  //   opacity: 0.5;
  //   // height: 100%;
  // }
  // &-goal-result {
  //   position: absolute;
  //   width: calc(100% / 30);
  //   // height: 120%;
  //   bottom: 0;
  //   // left: 0;
  //   background-color: $brand-primary;
  //   opacity: 0.5;
  // }
// }
