<%= render 'shared/sidebar' %>
<div class="main-container">
  <div class="dashboard-container">
    <div class="dashboard-stats-container">
      <div class="dashboard-stats-total-words dashboard-bubble">
        <div class="dashboard-bubble-content">
          <span class="dashboard-total-wordcount dashboard-bubble-count-sm" id="total-wordcount">13,723</span>
          <span>Total words</span>
        </div>
      </div>
      <div class="dashboard-stats-todays-goal dashboard-bubble">
        <div class="dashboard-bubble-content">
          <span class="dashboard-todays-goal dashboard-bubble-count-lg" id="todays-goal">1,450 words</span>
          <span>Todays goal</span>
        </div>
      </div>

      <div class="dashboard-stats-total-words dashboard-bubble">
        <div class="dashboard-bubble-content">
          <span class="dashboard-total-wordcount dashboard-bubble-count-sm" id="days-left">13</span>
          <span>Days left</span>
        </div>
      </div>
    </div>

    <!-- <div class="dashboard-goals-container" id="goals"> -->

    <div id="chart_div" style="width: 100%; height: 500px;"></div>

    <!-- </div> -->
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load('current', {'packages':['corechart', 'bar']});
     google.charts.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Day', 'Goal', 'Actual'],
         ['1',  1612,      2345],
         ['2',  1559,      890],
         ['3',  1585,       789],
         ['4',  1546,       2678],
         ['5',  1553,       1345],
         ['6',  1579,       890],
         ['7',  1451,       4789],
         ['8',  1451,       0],
         ['9',  1451,       0],
         ['10',  1451,       0],
         ['11',  1451,       0],
         ['12',  1451,       0],
         ['13',  1451,       0],
         ['14',  1451,       0],
         ['15',  1451,       0],
         ['16',  1451,      0],
         ['17',  1451,      0],
         ['18',  1451,      0],
         ['19',  1451,      0],
         ['20',  1451,      0],
         ['21',  1451,      0],
         ['22',  1451,      0],
         ['23',  1451,      0],
         ['24',  1451,      0],
         ['25',  1451,      0],
         ['26',  1451,      0],
         ['27',  1451,      0],
         ['28',  1451,      0],
         ['29',  1451,      0],
         ['30',  1451,      0],
         ['31',  1451,      0],
       ]);

       var options = {
        colors: ['#FF5E3A', '#07617D'],
        vAxis: {minValue: 0},
        chartArea: {width: '100%', height: '100%'},
        hAxis: {textPosition: 'in'}, vAxis: {textPosition: 'in'}
       };

       var barChart = new google.charts.Bar(document.getElementById('chart_div'));
       barChart.draw(data, options);
     }
   </script>
 </head>
