<div class="side-container">
<%= render 'shared/sidebar' %>
<!-- <div class="main-container"> -->
  <div class="main-dashboard-container">
    <!-- <div class="main-dashboard-header"> -->
      <h1 class="main-dashboard-header">Dashboard</h1>
      <!-- <%= link_to edit_novel_path(@novels.first), class:"btn btn-primary" do %>
        Keep writing
      <% end %> -->
    <!-- </div> -->

    <!-- <div class="main-dashboard-container"> -->
      <div class="main-dashboard-novels-container">
        <h2 class="main-dashboard-novels-head">Your progress</h2>
        <div class="main-dashboard-novel">
          <div class="main-dashboard-novel-heading">
            <p class="main-dashboard-novel-title">Harry Potter: the new Dragon</p><span>30 days left</span>
          </div>
          <div class="main-dashboard-novel-content">
            <div class="main-dashboard-novel-metrics">
              <span>Goal today: <span class="main-dashboard-todays-goal">300 words</span></span>
              <span>Overall progress: <span>300 words</span></span>
            </div>
            <div class="main-dashboard-novel-bar">
              <div class="main-dashboard-novel-progress" style="width: 30%;">

              </div>
            </div>
          </div>
        </div>
        <div class="main-dashboard-novel">
          <div class="main-dashboard-novel-heading">
            <p class="main-dashboard-novel-title">Harry Potter: the new Dragon</p>

            <div class="main-dashboard-novel-days-left">
              <span>30</span>
              <div class="days">
                <span>days</span>
                <span>left</span>
              </div>
            </div>


          </div>
          <div class="main-dashboard-novel-content">
            <div class="main-dashboard-novel-metrics">
              <span>Goal today: <span class="main-dashboard-todays-goal">300 words</span></span>
              <span>Overall progress: <span>300 words</span></span>
            </div>
            <div class="main-dashboard-novel-bar">
              <div class="main-dashboard-novel-progress" style="width: 70%;">

              </div>
            </div>
          </div>
        </div>
        <div class="main-dashboard-novel">
          <div class="main-dashboard-novel-heading">
            <p class="main-dashboard-novel-title">Harry Potter: the new Dragon</p><span>30 days left</span>
          </div>
          <div class="main-dashboard-novel-content">
            <div class="main-dashboard-novel-metrics">
              <span>Goal today: <span class="main-dashboard-todays-goal">300 words</span></span>
              <span>Overall progress: <span>300 words</span></span>
            </div>
            <div class="main-dashboard-novel-bar">
              <div class="main-dashboard-novel-progress" style="width: 10%;">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
