<dialog id="random">
  <div class="dialog">
    <%= form_tag(random_path(@novel.id), method: "patch") do %>
      <p><%= label_tag(:new_sentence, "Complete the sentence:") %></p>
      <p><%= text_area_tag(:new_sentence, @sentence, size: "24x6") %></p>
      <p><%= submit_tag("Add this sentence to my novel", class: "btn") %></p>
    <% end %>
    <div class="btn" id="new-random">New</div>
  </div>
</dialog>


<menu>
  <button id="unblockMe" class="btn">Unblock Me</button>
</menu>

<script>
    (function() {
      var unblockButton = document.getElementById('unblockMe');
      var dialog = document.getElementById('random');
      dialog.returnValue = 'favAnimal';

      function openCheck(dialog) {
        if(dialog.open) {
          console.log('Dialog open');
        } else {
          console.log('Dialog closed');
        }
      }

      // Update button opens a modal dialog
      unblockButton.addEventListener('click', function() {
        dialog.showModal();
        openCheck(dialog);
      });

    })();
  </script>

  <!-- <script> -->
    <!-- function modifyText() { -->
      // console.log("click");
      // var newSentence = document.querySelector("#new_sentence");
      // ;
    // };

    // const newRandom = document.querySelector(".new-random")
    // newRandom.addEventListener("click", modifyText)
  <!-- </script> -->
