<dialog id="random">
  <div class="dialog">
  <% @sentences %>
  <% @sentence = @sentences.sample.sentence %>
    <%= form_tag(random_sentence_path(@novel.id), method: "patch") do %>
      <%= label_tag(:new_sentence, "Complete the sentence:") %>
      <%= text_area_tag(:new_sentence, @sentence, size: "24x6") %>
      <div class="modal-actions">
        <button id="cancel" type="reset" class="btn btn-secondary">Cancel</button>
        <%= submit_tag("Add to my novel", class: "btn btn-primary") %>
      </div>
    <% end %>
<!--     <button id="new-sentence" onclick="newSentence()" class="btn btn-secondary">New Sentence</button> -->
  </div>
</dialog>


<!-- <menu> -->
  <button id="unblockMe" class="btn btn-secondary">Unblock Me</button>
<!-- </menu> -->

  <script>
    const unblockButton = document.getElementById('unblockMe');
    const dialog = document.getElementById('random');
    const cancelButton = document.getElementById('cancel');
    const text_area = document.getElementById('new_sentence')

    unblockButton.addEventListener('click', function() {
      dialog.showModal();
    });
    function newSentence() {
      fetch(`/novels/random`)
      console.log(response)
      .then(response => response.json())
      .then((data) => {
        console.log(data);
      })
    };
    cancelButton.addEventListener('click', function() {
      dialog.close();
      document.location.reload(true).modal('show')
    });
  </script>









  <!-- <script> -->
    <!-- function modifyText() { -->
<!--       // console.log("click");
      // var newSentence = document.querySelector("#new_sentence");
      // ;
    // };

    // const newRandom = document.querySelector(".new-random")
    // newRandom.addEventListener("click", modifyText) -->
  <!-- </script> -->
