<dialog id="comment">
  <div class="dialog">

      <textarea class="comment_title" size="5x6" placeholder="Comment Title"></textarea>
      <textarea class="comment_text" size="24x6" placeholder="What is your comment?"></textarea>
      <textarea class="suggested_change" size="24x6" placeholder="What would you suggest instead?"></textarea>
      <div class="modal-actions">
        <button id="cancel" type="reset" class="btn btn-secondary">Cancel</button>
        <button id="submit" class="btn btn-primary">Add comment</button>
      </div>
  </div>
</dialog>


<!-- <menu> -->
  <button id="add-comment" class="btn btn-secondary" onclick="wrapSelectedText();" value="Highlight"">Add Comment</button>
<!-- </menu> -->

  <script>

    let num = 0



    function wrapSelectedText() {
    var selection= window.getSelection().getRangeAt(0);
    var selectedText = selection.extractContents();
    var span = document.createElement("span");
    num = num + 1
    span.id = num
    span.className = "highlight";
    span.style.backgroundColor = "yellow";
    span.appendChild(selectedText);
    selection.insertNode(span);
}

function saveComment() {
  let selected_location = window.getSelection()
  let selected_text = document.getElementById(`${num}`).innerText
  let comment_title = document.querySelector('.comment_title').value
  let comment_text = document.querySelector('.comment_text').value
  let suggested_change = document.querySelector('.suggested_change').value
  let novel = document.querySelector('.review-novel')
  const novel_id = novel.dataset.id

  const highlight_span = document.querySelector(`.highlight`)
  highlight_span.className = "comment-text"
  highlight_span.style.backgroundColor = "white"
  highlight_span.insertAdjacentHTML('beforebegin', `<span class="suggested_change" id=r${num} style="display:none">${suggested_change}</span>`)


  fetch(`/reviews/${novel_id}`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    credentials: 'same-origin',
    body: JSON.stringify({
      "review": {
      comment_title: comment_title,
      comment_text: comment_text,
      selected_text: selected_text,
      suggested_change: suggested_change,
      novel_id: novel_id
      }
    })
  })
  saveNovel()
};


  function saveNovel() {
  const content_area = document.querySelector(".review-novel")
  const content_text = content_area.innerHTML
  const novel_id = content_area.dataset.id
  fetch(`/novels/autosave/${novel_id}`, {
    method: "PATCH",
    headers: {
      'credentials': 'same-origin',
      "Content-Type": "application/json"
    },
    body: JSON.stringify(content_text)
  })
};


  function getReviews() {
  const content_area = document.querySelector(".review-novel")
  const novel_id = content_area.dataset.id
    fetch(`/reviews/comments/${novel_id}`)
    .then(response => response.json())
    .then((data) => {
     console.log(data)

    })

  }



    const commentButton = document.getElementById('add-comment');
    const dialog = document.getElementById('comment');
    const cancelButton = document.getElementById('cancel')
    const submit = document.getElementById('submit');

    commentButton.addEventListener('click', function() {
      dialog.showModal();
    });
    cancelButton.addEventListener('click', function() {
      dialog.close();
    });


    submit.addEventListener('click', saveComment)
    submit.addEventListener('click', function() {
      dialog.close();
    })




  </script>
