<%= render 'shared/navbar' %>
<div class="banner">
  <h2 class="banner-title">Once upon a time, Novelty helped me finish my book... <span>I</span> </h2>
  <i class="arrow down"></i>
</div>
<div class="container-main">
  <div class="home-editor-container">
    <textarea class="home-editor" name="name" rows="8" cols="80">Start writing right here, right now...
    </textarea>
  </div>
  <div class="" style="height:300px;">
    Heres more about Novelty
  </div>
  <div class="" style="height:300px;">
    Heres some cta and whatnot
  </div>
</div>
