<div contenteditable="true" class = "home-editor" rows="8" cols="80"><%= @novel.content %> </div>

<div class="btn btn-primary" style="width:10%; text-align:center;">
  <%= link_to "Save Novel", novel_path(@novel.id), method: :patch%>
</div>

<script>

  const button = document.querySelector(".btn")
  button.addEventListener('click', {
    <% @novel.content %> = document.querySelector("home-editor").innerText
  })
</script>
