<div class="form">
<%= simple_form_for @novel, :url => novel_path(@novel), :method => :patch do |f| %>
<div class="novel">
    <%= f.text_field(:title) %>
    <%= f.text_area(:content, :size => "150x50") %>

    </div>
    <%= submit_tag('Save Novel')%>
<% end %>
</div>


<!--
Implement a counter method/timer method. when this method reaches either 500 characters or 5 minutes then runs a second method that does a fetch(post) method that sends a JSON file to the controller that reads the file then saves this to @novel.content
-->
<script>
  function keyCount() {
    const text = document.querySelector('novel');
    let count = 0;
    text.addEventListener('keyUp', {
      count += 1;
      if (count === 100)
        saveNovel()
    });
  };

  function timer() {
    sleep(300)
    saveNovel()
    timer()
  }

  function saveNovel = (event) => {
    const content = document.querySelector('novel')
    fetch(`novel/#{@novel.id}`, {
      method: "Post",
      headers: {
        "Content-Type": "application/json"
      },
      body.JSON.stringify({event.currentTarget.value})
    })
    .then(response => response.json())
  };

</script>
