<div class="form">
<%= simple_form_for @novel, :url => novel_path(@novel), :method => :patch do |f| %>
    <div class="novel">
    <%= f.text_field(:title) %>
    <%= f.text_area(:content, :size => "150x50") %>

    </div>
    <%= submit_tag('Save Novel')%>
<% end %>
</div>

