.footer {
  // height: 70px;
  background-color: $brand-dark;
  color: $brand-light;
  padding: 22px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-copyright {

  }
}
