/* Main navbar */
.nav {
  background-color: RGBA(51, 51, 51, 0.9);
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0px 30px;
}

.nav-heading {
  font-family: $secondary-font;
  color: $brand-light;
}

.nav-menu {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-left {
  padding-left: 0;
}

.nav-menu-item {
  list-style-type: none;
  margin: 0 6px;
}

.nav-menu-link {
  display: block;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px 4px;
  &:hover {
    text-decoration: none;
    color: grey;

  }
}
